<div class="modal fade {{ modalClass }}">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">{{ title }}</h4>
                        </div>
                        <div class="modal-body" ng-transclude></div>
                        <div class="modal-footer" ng-show="modalClose">
                                <button ng-show="modalClose" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                </div>
        </div>
</div>
